@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap');

.container {
	background-color: rgba(237, 231, 225, 0.75);
	display: flex;
	justify-content: flex-start;
	align-items: center;
	flex-direction: column;
	width: 225px;
	height: 275px;
	max-width: 640px;
	margin: auto;
	padding: 40px;
	border-radius: 20px;
	box-shadow: 5px 5px 10px #ccc;
}

.backIcon {
	cursor: pointer;
	margin-bottom: 16px;
}

.MyTypography {
	text-align: center;
	font-family: Montserrat;
	margin-bottom: 1rem;
}

.MyTextField {
	width: 100%;
	font-family: Montserrat;
	margin-bottom: 16px;
}

.MyButton {
	width: 100%;
}
