.nav{
    width: 254px;
    height: auto;
    float: left;
    border: none;
    color: rgb(205, 205, 205);
    padding: 20px 40px;
}

.container{
    padding: 20px 26px 20px 26px;
    margin: 0 auto;
    border: 1px solid var(--border-primary-color);
    background-color: var(--background-component-color);
    border-radius: 14px;
}

.nav-col{
    display: block;
    justify-content: start;
    flex-wrap: wrap;
}

.nav-list{
    display: block;
    font-size: 16px;
}

.nav-list__item{
    padding-top: 10px;
    list-style-type: none;
    color: var(--font-primary-color);
    text-decoration: none;
    cursor: pointer;
}

.nav-list__item--active{
    position: relative;
}

.nav-list__item--active::before{
    content: "";
    position: absolute;
    left: 0;
    top: calc(100% + 2px);
    display: block;
    height: 2px;
    width: 100%;
    background-color: rgba(var(--green-primary-color-rgb), 0.75);
}
